{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Your Todos!
        </div>
        <div class="card-body">
            <h5 class="card-title">List of your Todos!</h5>
            <p class="card-text">Information regarding stuff that needs to be complete</p>

            <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Info</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>

    {% for i in todos %}

    <tr class="pointer" >

      <td>{{i.id}}</td>
      <td id="td1">{{i.title}}</td>
      <td> 
        <button type="button" class="btn btn-danger" onclick="()=>window.location.replace('/todos/delete_todo/{{i.id}}')">Delete</button> 
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
